@charset "utf-8";

body {
  margin: 0;
  background: black;
  display: block;
}

li {
  list-style: none;
  font-size: 10.5px;
}

li + li {
  border-top: 1px solid black;
}

li:nth-child(3n) {
  background: pink;
}

li:nth-child(15) {
  background: rgb(192, 255, 200);
}


ul {
  display: block;
  width:50%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  background: white;
}

li:hover {
  font-weight: bold;
}